@{
  Layout="Shared/_Layout.cshtml";
}
<div class="row">
  <div class="col-md-12">
    <h3>Welcome, @Model["member"].name.</h3>
    <hr>
    <h4>Checkouts for @Model["member"].name:</h4>
    <ul>
      @if (Model["checkouts"].Count > 0)
    {
      @foreach (var checkout in Model["checkouts"])
      {
        <li>@checkout.GetBookTitle(), Due @checkout.dueDate</li>
      }
    }
    else
    {
      <p>@Model["member"].name hasn't checked out any books yet.</p>
    }
    </ul>
    <hr>
    <p><a href="/">Home Page</a></p>
  </div>
</div>
